.list {
	max-width: 1400px;
    list-style: none;
    margin: 0 ;
    padding: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.item {
    background-color: #dee9f3;
    padding: 8px;
    border:2px, solid, rgb(151, 151, 253);
    border-radius: 8px;
}
.item:hover {
    background-color: #f5f3ea;
	scale: 1.01;
    box-shadow: 1px 2px 20px rgb(73, 71, 179); 
}

  
  .title {
	display: flex;
	justify-content: center;
	font-size: 22px;
	color: #213547;
    font-weight: 500;
  }
  
