  body {
	position: relative;
	font-family: sans-serif;
	max-width: 1900px;
	margin: 0 auto;
	background: linear-gradient(0deg, hwb(61 0% 0% / 0.281), #0073ff83);
	background-attachment: fixed;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
	margin: 5px auto 30px;
	color:rgb(48, 10, 83)
  
  }
  
  ul,
  ol {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  button {
	cursor: pointer;
  }
  
  img {
	display: block;
	max-width: 100%;
  }
  a {
	font-size: larger;
	font-weight: 700;
	color: #140d50;
	text-decoration: inherit;
	
  }
  a:hover {
	color: #000dff;
  }